<div nz-row>
    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <h3 class="dark-blue">Value Transfer</h3>
      <p>Transfer Values To The Retailer.</p>
    </div>
    <br />
    <br />
    <br />

    <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24">
      <nz-tabset
        [nzTabPosition]="'top'"
        [nzType]="'card'"
        [nzSelectedIndex]="tabIndex"
        (nzSelectedIndexChange)="tabChange($event)"
      >
        <nz-tab *ngFor="let tab of tabs" [nzTitle]="tab">
          <div *ngIf="tab == 'Transfer Value' && !isAdminRole">
            <div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
              <div nz-col nzSm="24" nzMd="24" nzLg="8" nzXl="8"><h5>Choose Retailer</h5>
<mat-form-field>
  <mat-label>Choose Retailer</mat-label>
  <mat-select>
    <mat-option *ngFor="let Retailer of Retailers" [value]="Retailer.value">
      {{Retailer.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field></div>
              <div nz-col nzSm="24" nzMd="24" nzLg="8" nzXl="8"><form class="example-form">
                <h5>Amount</h5>
  <mat-form-field class="example-full-width">

    <input matInput placeholder="100" value="100">
  </mat-form-field>
</form></div>
              <div nz-col nzSm="24" nzMd="24" nzLg="8" nzXl="8"><br><br><button>Submit</button></div>
            </div>
          </div>
          <div *ngIf="tab == 'Manual Top Up' && !isAdminRole">
            <div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
              <br />
              <div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
                <h3 class="dark-blue">
                  Transfer funds to Enviar bank account
                </h3>
                <br />
                <p>
                  <span class="light-blue">Beneficiary Name:</span> Kredify
                  Fintech Solutions Pvt. Ltd. <br /><br />
                  <span class="light-blue">Bank Name:</span> Kotak Mahindra
                  Bank Ltd <br /><br />
                  <span class="light-blue">Account Number:</span>
                  8713288746 <br /><br />
                  <span class="light-blue">IFSC Code:</span>
                  KKBK0001371<br />
                </p>
              </div>
              <br />
              <h3 class="dark-blue">
                Fill this form with transaction details:
              </h3>
              <br />
              <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="Amount"
                    >Transferred Amount</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Please enter the amount."
                  >
                    <input
                      type="number"
                      nz-input
                      formControlName="amount"
                      id="amount"
                    />
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label
                    [nzSm]="6"
                    [nzXs]="24"
                    nzFor="transactionType"
                    nzRequired
                    >Transaction Type</nz-form-label
                  >

                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Please enter a Transaction Type."
                  >
                    <nz-select
                      formControlName="transactionType"
                      id="transactionType"
                      [(ngModel)]="selectedTransType"
                      nzAllowClear
                      nzPlaceHolder="Choose"
                    >
                      <nz-option nzValue="neft" nzLabel="NEFT"></nz-option>
                      <nz-option nzValue="rtgs" nzLabel="RTGS"></nz-option>
                      <nz-option nzValue="imps" nzLabel="IMPS"></nz-option>
                      <nz-option nzValue="cheque" nzLabel="Cheque"></nz-option>
                      <nz-option nzValue="card" nzLabel="RazorPay"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                  <nz-form-label
                    [nzSm]="6"
                    [nzXs]="24"
                    nzFor="transactionNo"
                    nzRequired
                    >Transaction Number</nz-form-label
                  >
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    nzErrorTip="Please enter a Transaction No."
                  >
                    <input
                      type="number"
                      nz-input
                      formControlName="transactionNo"
                      id="transactionNo"
                    />
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item nz-row class="register-area">
                  <nz-form-control [nzSpan]="14" [nzOffset]="6">
                    <button nz-button nzType="primary">
                      Submit Transfer Details
                    </button>
                  </nz-form-control>
                </nz-form-item>
              </form>
            </div>
          </div>
          <div *ngIf="tab == 'Transfer By Number'">
            <div nzSm="24" nzMd="24" nzLg="24" nzXl="24">
              

              <div nz-col nzSm="24" nzMd="24" nzLg="6" nzXl="6">hff</div>
                <div nz-col nzSm="24" nzMd="24" nzLg="4" nzXl="4">gyh</div>
                <div nz-col nzSm="24" nzMd="24" nzLg="4" nzXl="4">dd</div>
                <div nz-col nzSm="24" nzMd="24" nzLg="4" nzXl="4">fg</div>
                <div nz-col nzSm="24" nzMd="24" nzLg="4" nzXl="4">fg</div>


            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>
    <br />
    <br />
  </div>
